<% include ./partials/_head.ejs %>
  <h1>Bernie
    <br> Sanders’s
    <br> Expenditures</h1>
  <h2>2016 Presidential Campaign</h2>
  <% include ./partials/_bottom_page.ejs %>
  <script src="/js/init_bernie.js"></script>
  </html>
