<% include ./partials/_head.ejs %>
  <h1>Ted
    <br> Cruz’s
    <br> Expenditures</h1>
  <h2>2016 Presidential Campaign</h2>
  <% include ./partials/_bottom_page.ejs %>
  <script src="/js/data/cruz_data.js"></script>
  <script src="/js/init_cruz.js"></script>
  </html>
