<% include ./partials/_head.ejs %>
  <h1>Donald
    <br> Trump’s
    <br> Expenditures</h1>
  <h2>2016 Presidential Campaign</h2>
  <% include ./partials/_bottom_page.ejs %>
  <script src="/js/data/trump_data.js"></script>
  <script src="/js/init_trump.js"></script>
  </html>
