
<% include ./partials/_head.ejs %>

  <h1>Hillary<br> Clinton’s<br> Expenditures</h1>
  <h2>2016 Presidential Campaign</h2>
<div id = "viz"></div>
<button class = "toggle-button all">All</button>
<button class = "toggle-button unique">Unique</button>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.js"></script>
  <script src="/bower_components/d3-tip/index.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/js/on-load.js"></script>
  <script src="/js/utility.js"></script>
  <script src="/js/data-parse.js"></script>
  <script src="/js/myChart.js"></script>
  <script src="/js/init_hil.js"></script>
</html>
