<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/css/style.css">
<body>
  <h1>Donald Trump</h1>
  <button class = "toggle-button all">All</button>
  <button class = "toggle-button unique">Unique</button>
<div id = "viz"></div>

  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.10/d3.js"></script>
  <script src="/bower_components/d3-tip/index.js"></script>
  <script src="/bower_components/underscore/underscore.js"></script>
  <script src="/js/app.js"></script>
</html>
