@import url(https://fonts.googleapis.com/css?family=Merriweather);
body {
  background: #F4F3F2;
  font-family: "Merriweather", serif;
  font-size: 14px;
}
svg {
  height: 100%;
}
h2 {
  font-size: .9rem;
  line-height: 110%;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0.6rem 0px 1.68rem 23px !important;
}
@font-face {
  font-family: "Cormorant-Book";
  src: url('../fonts/Cormorant-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Cormorant-Book.woff') format('woff'), url('../fonts/Cormorant-Book.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
ul.tabs {
  position: absolute;
  z-index: 11;
}
ul.nav {
  float: right;
  margin-right: 32px;
  z-index: 100;
  position: relative;
  margin-top: 4px;
}
ul.nav > li {
  display: inline-block;
  padding-left: 26px;
}
ul.nav > li a {
  color: black;
}
h1 {
  font-size: 4rem !important;
  line-height: 92%;
  margin: 1.6rem 0px 1.68rem 23px !important;
  font-family: "Cormorant-Book", serif;
  letter-spacing: -.5px;
  font-kerning: normal;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  pointer-events: none;
  z-index: 11;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  position: absolute;
  pointer-events: none;
  z-index: 11;
}

/* Northward tooltips */

.d3-tip.n:after {
  content: "\25BC";
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-align: center;
  z-index: 11;
}

/* Eastward tooltips */

.d3-tip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}

/* Southward tooltips */

.d3-tip.s:after {
  content: "\25B2";
  margin: 0 0 1px 0;
  top: -8px;
  left: 0;
  text-align: center;
}

/* Westward tooltips */

.d3-tip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -1px;
  top: 50%;
  left: 100%;
}
@-webkit-keyframes bounceIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.05);
  }
  70% {
    -webkit-transform: scale(.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  50% {
    opacity: 1;
    transform: scale(1.05);
  }
  70% {
    transform: scale(.9);
  }
  100% {
    transform: scale(1);
  }
}
circle {
  /*fill: #97A761;*/
  /*stroke: black;*/
  stroke-width: 1px;
  opacity: .8;
}
circle.highlight {
  stroke: #fff;
}
.all {
  position: relative;
  z-index: 11;
  margin-left: 23px;
}
.unique {
  position: relative;
  z-index: 11;
  margin-left: 23px;
}
#viz {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.occupation:hover {
  cursor: pointer;
}
.d3-tip.animate {
  animation: bounceIn 5s ease-out;
  -webkit-animation: bounceIn 5s ease-out;
}
.d3-tip span {
  color: #FAFAFA;
}
