<!DOCTYPE html>
<meta charset="utf-8">
<link rel="stylesheet" href="/bower_components/Materialize/dist/css/materialize.css">
<link rel="stylesheet" href="bower_components/chartist/dist/chartist.min.css">
<link rel="stylesheet" href="/css/style.css">
<body>
  <ul class="nav">
    <li><a href="/">Hillary Clinton</a></li>
    <li><a href="/trump">Donald Trump</a></li>
    <li><a href="/bernie">Bernie Sanders</a></li>
    <li><a href="/cruz">Ted Cruz</a></li>
  </ul>
